.mockup p {
  white-space: pre-wrap;
}
.mockup p.title {
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.08em;
  line-height: 1.25em;
  color: #3382b8;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
}
.mockup p.desc {
  text-align: center;
  line-height: 2em;
  letter-spacing: 0.08em;
}
.mockup img {
  position: relative !important;
  width: 100% !important;
  height: unset !important;
}
@media screen and (max-width: 600px) {
  .mockup p.title {
    font-size: 18px;
  }
  .mockup p.desc {
    font-size: 14px;
  }
}