.text {
  font-size: 48px;
  font-weight: bold;
  color: #3382b8;
  text-align: right;
  margin: 0 auto;
  border-bottom: 2px solid #3382b8;
  line-height: 1.25em;
  letter-spacing: 0.08em;
  display: inline-block;
  white-space: pre-wrap;
  padding-bottom: 60px;
  padding-left: 20%;
}
@media screen and (max-width: 768px) {
  .text {
    padding: 0 20px 20px;
    text-align: center;
    white-space: unset;
  }
}
@media screen and (max-width: 768px) and (max-width: 600px) {
  .text {
    font-size: 30px;
  }
}