.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 80px auto 40px;
  p {
    color: #3382b8;
    font-size: 20px;
    font-weight: bold;
  }
  div {
    background-color: #3382b8;
    width: 90%;
    height: 3px;
  }
}
