.skill {
  p {
    margin-top: 1em;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #0f4c75;
    @media screen and (max-width: 600px) {
      font-size: 14px;
    }
  }
  img {
    position: relative !important;
    width: 100% !important;
    height: unset !important;
  }
}
